.form-elements{
    display: flex;
    flex-direction: column;
}
.form-elements>input{
    width: 40vw;
    height: 30px;
    border-radius: 4px;
    border: 1px solid gray;
}
.select{
    width: 40vw;
    height: 30px;
    border-radius: 4px;
    border: 1px solid gray;
}

.form-elements>p{
    display: flex;
}
.upload{
    border: 1.5px solid gray;
    border-radius: 4px;
}
